body {
  font-family: Georgia;
  margin-top: 20px;
  font-size: 14px;
  background: #eee;
}

h1, h2, h3, h4 {
  font-family: Arial;
}

h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin: 2px 0;
}

h3 {
  color: #444;
  font-size: 18px;
  margin: 10px 0;
}

p {
  margin: 5px 0;
  padding-left: 10px;
}

a {
  color: #0063dc;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dotted;
}

h1 a:hover {
  border: none;
}

tt {
  background: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
}

div.container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

div#header {
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  padding-bottom: 0;
}

div#header h1 {
  font-family: Arial;
  font-size: 42px;
  color: #0063dc;
  display: inline;
  font-weight: bold;
  margin-right: 2px;
}

div#header h1 + span {
  color: #ff0084;
  background: #eee;
  font-size: 16px;
}

div#header span.description {
  color: #000;
}

div#version {
  text-align: right;
}

div#version span {
  color: #0063dc;
  font-size: 16px;
}

div#version span strong {
  color: #000;
  font-size: 22px;
}

.callout {
  background: #BAC2CC;
  border-radius: 10px;
  padding-top: 10px;
}

.callout ul {
  padding-bottom: 10px;
}

.callout h2 {
  margin-left: 10px;
}

.callout h2 {
  font-size: 16px;
}

div#updates ul {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
}

div#updates li span.date {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

div#updates ul li a {
  text-transform: lowercase;
}

div#footer {
  border-top: 2px solid #000;
}

div#post {
  margin-bottom: 10px;
}

div#content h2 {
  text-transform: lowercase;
}

div#post div#date {
  background: #BAC2CC;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

div#post div#date span.month,
div#post div#date span.day,
div#post div#date span.year {
  display: block;
}

div#post div#date span.day {
  font-size: 22px;
  line-height: 22px;
}

div#post div#date span.month {
  font-size: 18px;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 18px;
}

div#post div#date span.year {
  font-size: 12px;
  line-height: 12px;
}