<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      {{ page.title }} | Fleakr
    {% else %}
      {{ site.default_title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="Subscribe to Fleakr updates" href="http://fleakr.org/updates.rss" />
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <div class="span-20">
        <h1><a href="/">fleakr</a></h1> <span>{<span class="description">A small, yet powerful, gem to interface with Flickr photostreams</span>}</span>
      </div>
      <div id="version" class="span-4 last">
        <span>version <strong>{{site.gem_version}}</strong></span>
      </div>
    </div>
    <div id="content" class="span-17">
      {{content}}
    </div>
    <div id="sidebar" class="span-7 last">
      <div id="resources" class="callout">
        <h2>resources</h2>
        <ul>
          <li><a href="http://github.com/reagent/fleakr">Repository</a></li>
          <li><a href="/doc/{{site.gem_version}}/index.html">Latest Documentation</a></li>
          <li><a href="http://github.com/reagent/fleakr/wiki">Wiki</a></li>
          <li><a href="http://github.com/reagent/fleakr/issues">Issues</a></li>
        </ul>
      </div>
      <div id="updates" class="callout">
        <h2>updates</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <span class="date">{{ post.date | date: '%B %e, %Y' }}</span><a href="{{post.url}}">{{post.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="footer" class="span-24 last">
      <p>&copy; 2008 - {{ 'now' | date: '%Y' }} <a href="http://sneaq.net">Patrick Reagan</a> (<a href="mailto:reaganpr@gmail.com">reaganpr@gmail.com</a>)</p>
    </div>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20772776-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>